<carousel>
  <slide>
    <img
      src="assets/images/4.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/1.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/3.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>E-ticaret Sitemize hoşgeldiniz.</h1>
  </div>
</section>
